@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-Regular.ttf?1b0809d519837cb7aad36a73433f655c);
}
@font-face {
  font-family: "OpenSans-SB";
  src: url(/fonts/OpenSans-SemiBold.ttf?a16d8201b06a03c6c365341748a5cba0);
}
htm h1 {
  font-family: "OpenSans";
}

h2 {
  font-family: "OpenSans-SB";
}

.btn {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.btn-primary {
  /*border: 1px solid #fff;*/
  box-shadow: 0px 0px 7px #657a78;
}

section.fluid-container {
  padding-left: 15px;
  padding-right: 15px;
}

.gl-datatable {
  border: 2px solid #61cb5a;
  border-radius: 10px;
}

.form-control {
  height: 40px;
}

.btn-sm {
  font-size: 13px;
}

.gl-map {
  height: 100%;
  background-color: #ccc;
  border: 2px solid #5ECC5A;
  border-radius: 10px;
  overflow: hidden;
}

.gradient-box {
  background: linear-gradient(to right, #5ECC5A, #00A0DE);
}

.auth-page {
  background-color: #f7f7f7;
  color: #374241;
}

.auth-page .form-area {
  background: linear-gradient(to bottom, #5ECC5A, #00A0DE);
  color: #fff;
  display: flex;
  align-items: center;
}
.auth-page .form-area h2 {
  line-height: 60px;
}
.auth-page .form-area .form-control:not(textarea) {
  height: 50px;
}
.auth-page .form-area .form-control {
  max-width: 400px;
}
.auth-page .form-area .action-list a {
  color: #fff;
}
.auth-page .form-area .footer-actions {
  margin-top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 30px;
}
.auth-page .form-area .action-list {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 20px;
}
.auth-page .form-area .list-inline-item + .list-inline-item {
  margin-left: 20px;
}
.auth-page .greeting-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-page .greeting-area p {
  color: #475554;
}
.auth-page .flex-protect {
  width: 50%;
  margin: 0 auto;
}
.auth-page h1 {
  text-transform: uppercase;
}
.auth-page .btn-primary {
  background-color: #5ECC5A;
}

.sidebar {
  min-height: 100vh;
  background: #374241;
}
.sidebar * {
  color: #fff;
}
.sidebar .profile-section {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(94, 204, 90, 0.6);
}
.sidebar .profile-wrapper {
  padding-left: 15px;
}
.sidebar .display-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid rgba(94, 204, 90, 0.4);
  margin: 0 auto;
}
.sidebar .user-role p {
  color: #b9c2c9;
}
.sidebar .navbar {
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
}
.sidebar .navbar .navbar-nav {
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
}
.sidebar .navbar .nav-item {
  margin-right: -15px;
}
.sidebar .navbar .nav-item + .nav-item {
  margin-top: 10px;
}
.sidebar .navbar .nav-link {
  color: #374241;
  font-size: 17px;
  padding: 15px 15px;
  font-family: "OpenSans-SB";
  border: 1px solid #fff;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-transform: uppercase;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  color: #e1ffff;
  margin-top: 40px;
  margin-left: -15px;
  margin-right: -15px;
}

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
  */
}

.nav-side-menu li {
  display: flex;
  align-items: center;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  background-color: #5ECC5A;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #fff;
}

.nav-side-menu ul .sub-menu li.active a, .nav-side-menu ul .sub-menu li.active i,
.nav-side-menu li .sub-menu li.active a, .nav-side-menu li .sub-menu li.active i {
  color: #5ECC5A;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: rgba(68, 76, 75, 0.9);
  border: none;
  line-height: 28px;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover a, .nav-side-menu ul .sub-menu li:hover i,
.nav-side-menu li .sub-menu li:hover a, .nav-side-menu li .sub-menu li:hover i {
  color: #5ECC5A;
}

.nav-side-menu ul .sub-menu {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(68, 76, 75, 0.9);
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  padding-left: 40px;
}

.nav-side-menu ul .sub-menu li a,
.nav-side-menu li .sub-menu li a {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  font-size: 16px;
  font-family: "OpenSans-SB";
  width: 100%;
}

.nav-side-menu li.active a, .nav-side-menu li.active i, .nav-side-menu li.active .arrow {
  color: #fffs;
}

.nav-side-menu li i {
  padding-left: 10px;
  width: 40px;
  padding-right: 20px;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #5ECC5A;
  color: #374241;
  transition: all 1s ease;
}

.nav-side-menu li:hover a, .nav-side-menu li:hover i, .nav-side-menu li:hover a .arrow {
  color: #fff;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
.calender-area .fc-today-button {
  background: #5ECC5A;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}
.calender-area .fc-button {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  border: 1px solid #00A0DE;
  color: #00A0DE;
}
.calender-area .fc-button:hover {
  color: #fff;
  background-color: #00A0DE;
  border: 1px solid #00A0DE;
}
.calender-area .fc-button:disabled {
  background-color: #c2bebe;
  border: 1px solid #c2bebe;
}
.calender-area .fc-button-active {
  background-color: #00A0DE !important;
  border: 1px solid #00A0DE !important;
}
