$primary_color: #5ECC5A;
$primary_color_accent1: #73DD65;
$primary_color_tone1: #2BB857;
$primary_color_tone2: #0DA74B;

$font_color: #374241;
$font_color_on_dark: #fff;

$secondary_color: #00A0DE;
$secondary_color_accent1: #23D8EF;
$secondary_color_accent2: #97E8FA;